
<style>
    button {
   background-color: #2B3BCF;
   border: none;
   color: white;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
}
</style>
<!--The contenng t below is only a placeholder and can be replaced.--> 

<div style = "text-align:center"> 

    <h1> Welcome to {{title}}. </h1> 
    <b>{{title | uppercase}}</b><br/> 
    <b>{{title | lowercase}}</b>
 </div>
 <br/>
<h3>Users Data</h3>
<ul>
   <li *ngFor="let item of persondata; let i = index">
      {{item.name}}
   </li>
</ul>
 <div> Months : 
    <select (change) = "changemonths($event)"> 
       <option *ngFor = "let i of months">{{i}}</option>
    </select>
 </div> 
 <br/>
 
 <div> 
    <span *ngIf = "isavailable; else condition1">Condition is valid.</span> 
    <ng-template #condition1>Condition is invalid</ng-template> 

 </div>
 <h3> Service Property : {{newcomponent}} </h3> 
 <div>
   <p> 
      {{newcomponent}} 
 

   </p>
   {{todaydate}} 
 </div>

 <button (click) = "myClickFunction($event)">
    Click Me
 </button>
<div>
 <h1>Lowercase Pipe</h1> 
 <b>{{title | lowercase}}</b> 
 <h1>Currency Pipe</h1> 
 <b>{{6589.23 | currency:"USD"}}</b>
 <br/> 
 
 <b>{{6589.23 | currency:"USD":true}}</b> 
 <h1>Date pipe</h1> 
 <b>{{todaydate | date:'d/M/y'}}</b>
 <br/> 
 
 <b>{{todaydate | date:'shortTime'}}</b> 
 <h1>Decimal Pipe</h1> 
 <b>{{ 454.78787814 | number: '3.4-4' }}</b>  
</div> 

<div style = "width:40%;float:left;border:solid 1px black;">
 <h1>Json Pipe</h1> 
 <b>{{ jsonval | json }}</b>
 <h1>Percent Pipe</h1> 
 <b>{{00.54565 | percent}}</b> 
 <h1>Slice Pipe</h1> 
 <b>{{months | slice:2:6}}</b> 

</div> 

<h1>Custom Pipe</h1> 
<b>Square root of 25 is: {{25 | sqrt}}</b> 
<br/> 
<b>Square root of 729 is: {{729 | sqrt}}</b>



<div> 
   <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" > 
      <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
         formControlName = "emailid"> 
      <br/> 
      
      <input type = "password" class = "fortextbox" name = "passwd" 
         placeholder = "passwd" formControlName = "passwd"> 
      <br/>
      
      <input type = "submit" class = "forsubmit" value = "Log In"> 
   </form>
</div> 
<p> Email entered is : {{emailid}} </p>